[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.{{DOMAIN}}
Environment=CATALOGUE_HOST=catalogue.{{DOMAIN}}
ExecStart=/bin/node --no-deprecation /home/roboshop/{{COMPONENT}}/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target